@import "tailwindcss";

@theme {
  --color-primary: #176b87;
  --color-secondary: #b4d4ff;
  --color-background: #eef5ff;
  --color-text: #111827;
  --color-biru: #f6f8f9;
  --color-dark: #071c23;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-background;
  @apply scroll-smooth;
}
